main {
    height: 500px;
    border: 2px solid green;
}
.flex-container {
    display: flex;
    width: 500px;
    border: 2px dashed purple;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.flex-container>div {
    border: 1px solid red;
    background-color: pink;
    font-size: 30px;
    color:blue;
    padding: 30px;
    margin: 20px;
}
